
h1{
  margin-top: 35px;
  margin-bottom: 25px;
}
h2{
  margin-top: 35px;
  margin-bottom: 25px;
}
h3{
  margin-top: 35px;
  margin-bottom: 25px;
}
h4{
  margin-top: 35px;
  margin-bottom: 25px;
}
h5{
  margin-top: 35px;
  margin-bottom: 25px;
}
 ul{
font-color: blue; 
}
 ol{
font-color: blue; 
}
code {
  font-family: "Helvetica", Times, serif;
  text-decoration: underline; 
}
div.caption{
  width: 50%;
  font-style: italic;
}
#most_important{
   background-color: gray;
  width:200px;
  height 100 px;
}

  
  

