
hr{
  margin-top: 35px;
  margin-bottom: 25px;
}
li{
  color:blue;
}
code {
  font-family: "Helvetica", Times, serif;
  font-style: underline;
}
div.caption{
  width: 50%;
  font-style: italic;
}
#most_important{
   background-color: gray;
  width:200px;
  height 100 px;
}

  
  

